.ejer1{
    background-image: url(../../assets/img/ejercicio1.jpg);
    background-size: cover;
}

.ejer2{
    background-image: url(../../assets/img/ejercicio2.jpg);
    background-size: cover;
}

.ejer3{
    background-image: url(../../assets/img/ejercicio3.jpg);
    background-size: cover;
}

.ejer4{
    background-image: url(../../assets/img/ejercicio4.jpg);
    background-size: cover;
}